 <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Chatter</h2>
                            <hr class="star-primary">
                            <a href="http://view.ionic.io/"><img src="img/portfolio/chatter-chatroom-thumbnail.png" class="img-responsive img-centered" alt=""></a>
                            <p>Chatter is a realtime hybrid mobile chat app for ios and android. You can download the app by first downloading Ionic View from your app store, signing up, and entering my <strong>ID# 29AEE77D</strong></p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://view.ionic.io/">Iron Yard Final Project</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a>March 2015</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a>Mobile Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>ToDo App</h2>
                            <hr class="star-primary">
                            <a href="https://mighty-crag-9921.herokuapp.com/"><img src="img/portfolio/todo-app-thumbnail.png" class="img-responsive img-centered" alt=""></a>
                            <p>The app is built using Angular and Node specifically Loopback to generate the models.</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="https://mighty-crag-9921.herokuapp.com/">Iron Yard</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a>March 2015</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a>Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
