<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Front-end Developer</div>
                <div class="intro-heading">User Design Centered</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>
    {% include services.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include team.html %}
    <!-- {% include clients.html %} -->
    <!-- {% include contact.html %} -->
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>
